site_name: My Kubernetes Portfolio
site_url: https://rmiravalles.github.io/grow/
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

plugins: 
  - search

nav:
  - Home: index.md
  - Getting Started:
      - Lab Notes: 00-getting-started/lab-notes.md
  - Kubernetes Fundamentals:
      - NGINX Pod Lab: 01-kubernetes-fundamentals/lab-guide.md
      - YAML: 01-kubernetes-fundamentals/nginx-pod.yaml
  - GitOps:
      - FluxCD Install: 02-gitops/fluxcd-installation.md
      - Lab Guide: 02-gitops/lab-guide.md
  - Security:
      - Security Lab Guide: 03-security/lab-guide.md
      - Example PSP: 03-security/podsecuritypolicy-example.yaml
  - Reflections:
      - Week 1: 99-reflections/week1.md
      - Week 2: 99-reflections/week2.md
      - Week 3: 99-reflections/week3.md

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - codehilite
  - footnotes
  - tables

repo_url: https://github.com/rmiravalles/grow
edit_uri: edit/main/docs/
