apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: grow-cluster
image: rancher/k3s:v1.33.6-k3s1
servers: 1
agents: 2

ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer